[2016-01-11 12:28] hdbeukel opened #1 "Optimized objectives for biallelic markers (e.g. SNP)"
Most new datasets use biallelic markers (e.g. SNP). Although we can represent these as multi-allelic datasets with only two alleles, it may be beneficial to provide optimized objectives, especially for large datasets.

Started but incomplete. Not tested yet.

[2016-01-11 13:23] hdbeukel opened #2 "Extensively test support for phenotypic data"
Support for phenotypic data is already provided (through Gower's distance) but not yet fully tested. We can look at some public datasets that were used in previous core selection studies.

[2016-01-11 14:26] hdbeukel opened #3 "Efficient delta evaluations"
Provide efficient delta evaluations for all objectives. Needed to improve performance for large datasets.

[2016-01-11 14:44] hdbeukel opened #4 "Fix warnings in POM files"

[2016-01-11 15:23] hdbeukel opened #5 "Review treatment of missing data"

[2016-01-12 08:34] #4 closed

[2016-01-12 09:41] hdbeukel opened #7 "Set up Coveralls (test coverage reports)"
See www.coveralls.io.

[2016-01-12 09:43] hdbeukel opened #8 "Set up Travis CI (continuous integration)"
See www.travis-ci.org.

[2016-01-13 14:08] #7 closed

[2016-01-13 14:38] #8 closed

[2016-01-14 17:22] hdbeukel opened #11 "Add LICENSE and NOTICE files"
Copyright information goes in NOTICE file. Should not be included in LICENSE file or headers.

[2016-01-19 10:43] #11 closed

[2016-01-28 16:02] hdbeukel opened #15 "Cache computed distances"
Cache computed distances between individuals both for phenotypic data (Gower distance) and marker data (Modified Rogers or Cavalli-Sforza & Edwards distance). Compute distances only when requested, as opposed to precomputing the distance matrix. The cache avoids re-computation and is stored in the distance measure objects, which means that the latter should not be reused for different datasets.

[2016-01-28 16:14] hdbeukel opened #16 "Split distance measures and aggregations"
There are four types of distance measures:

 - Gower (phenotypic data)
 - Modified Rogers (marker data)
 - Cavalli-Sforza & Edwards (marker data)
 - Precomputed distance matrix

These compute distances between two individuals. The distance based objectives aggregate distances given the selected individuals in a core subset. We will provide three aggregations:

 - Entry-to-entry (E-E) = average pai

[2016-01-28 17:03] hdbeukel opened #17 "Fine tune checkstyle rules"
Track down and remove overly restrictive `checkstyle` rules.

[2016-01-28 17:37] hdbeukel opened #18 "Normalization for weighted index"
We want to be able to optimize a weighted sum of several objectives. In this context, normalization is important. A straightforward normalization formula is the following lower-upper bound linear scaling:

[code]

Here `f_i` and `f_i'` are the original and normalized *i*-th objective, respectively. The values of `min_i` and `max_i` can be determined as follows (assuming that all objectives are max

[2016-01-28 17:37] hdbeukel opened #19 "Multiple data types"
We want to be able to optimize a weighted sum of several objectives, possibly computed from different data (phenotypes, markers, precomputed distances). For this we have to provide a Core Hunter data type that can store multiple datasets.

Also see #18.

[2016-01-29 09:02] hdbeukel opened #20 "Remove obsolete objectives"
The following objectives will be removed:

 1. Proportion of non-informative alleles (PN): not useful since it equals 1.0 - coverage (CV).
 2. Number of effective alleles (NE): correlated with expected proportion of heterozygous loci (HE)

[2016-01-29 09:52] hdbeukel opened #21 "Dataset file formats"
Core Hunter 1 and 2 only supported multi-allelic marker data in frequency format. The frequency table was given as marker-allele x individuals which is unconventional. For Core Hunter 3 we will follow the convention of individuals x markers. Additional formats are defined, including those for phenotypic datasets and precomputed distance matrices.

#### Genetic marker data

Genotypes can be provide

[2016-01-29 09:54] hdbeukel opened #22 "Standardize spelling: Core Hunter"
Write Core Hunter in two words in all texts. In code it should be camel cased as `CoreHunter`.

[2016-01-29 12:29] hdbeukel opened #23 "Clean up tests"
The unit and integration tests are still quite messy. Also we have not tested CH3 against CH2. Some tests are non-deterministic so some times they fail, sometimes they don’t.

[2016-01-29 16:52] hdbeukel opened #24 "Transfer website to GitHub"
Transfer website to GitHub pages and redirect to www.corehunter.org.

[2016-02-05 15:44] hdbeukel commented on #24
Added current Core Hunter 2 website to `gh-pages` branch. Need to configure DNS.

[2016-02-18 09:51] #24 closed

[2016-02-19 14:32] hdbeukel commented on #21
Perhaps we should make the second header row for phenotypic data compulsory as well (variable types). This would simplify reading the data from a file since we know in advance what kind of values (string, integer, double, boolean, ...) are expected in each column.

@cropinfo What do you think?

[2016-03-21 12:32] #19 closed

[2016-03-21 12:33] #17 closed

[2016-03-23 15:03] hdbeukel opened #30 "Refactor CoreHunterData"
Remove `NamedData` and `SimpleNamedData`.

[2016-03-31 07:56] #20 closed

[2016-03-31 14:38] hdbeukel commented on #16
**TO DO:** E-NE and A-NE aggregations

[2016-04-03 19:01] daveneti commented on #30
refactored and committed #29

[2016-04-05 08:05] #30 closed

[2016-04-05 13:45] #16 closed

[2016-04-05 15:22] #15 closed

[2016-04-06 06:45] hdbeukel opened #32 "Gower distance: cache scale types and ranges"

[2016-04-06 14:52] #5 closed

[2016-04-07 11:37] #32 closed

[2016-04-08 08:30] hdbeukel commented on #3
**TODO:** efficient delta evaluation for allelic diversity (HE, SH) and coverage.

[2016-04-08 09:24] daveneti opened #33 "Implement File based dataset services for Core Hunter"
Update File based implementation of data services for Core Hunter

[2016-04-08 16:27] #3 closed

[2016-04-19 12:07] hdbeukel opened #36 "implement other genotype data formats"
Implement additional genotype data formats:

 - homozygous
 - triploid
 - tetraploid

Also make `write` methods instance methods instead of class methods (`static`) to avoid `instanceof`.

[2016-04-22 11:22] #36 closed

[2016-04-22 11:26] hdbeukel opened #38 "Possibility to write phased genotype variant data to original format"
Introduce interface and class `(Simple)PhasedGenotypeVariantData` which stores the data in its original format.

[2016-04-22 12:16] hdbeukel commented on #21
@daveneti I updated the descriptions according to my recent changes. I got the impression that you didn't fully understand the diploid (now phased) format, since it is _not_ required that the number of possible alleles is fixed. The number of columns corresponds to the ploidy, not the number of possible alleles. Is the (updated) format clear to you now?

[2016-04-23 08:15] daveneti commented on #21
Thanks for the update.

What a meant to say was the maximum number of observed alleles in a one individual was fixed. Perhaps this was not clear enough. Yes, the ploidy is a factor in this, but some markers can be tricky. For example, wheat is not considered a diploid. It's a hexaploid, but the with genome specific markers the number of possible observed alleles per individual is two. So your stat

[2016-04-23 08:27] hdbeukel commented on #21
Ok I see what you meant. I was not aware about the subtleties like in your example from wheat.

I used the term 'phased' deliberately because in that format you can make a distinction between e.g. AC and CA. But perhaps it is confusing because you don't really need to know the phase to use the format, since you can include the columns in any order and it won't make a difference for Core Hunter.

D

[2016-04-23 09:40] daveneti commented on #21
I have been thinking about it all morning. I will proposal soon.

[2016-04-23 09:58] hdbeukel commented on #21
Great, thanks a lot!

[2016-04-23 10:03] daveneti commented on #21
Ok, I think is a naming issue only correct? We have three formats if I am not mistaken? Or is it four? I think the one with allele names/id can be collapsed in to one?

I propose we follow a naming approach consistent with ‘application’ of the data.

The 0,1,2 format is easy. Is only useful for bi-parental populations where you can encode 0 for one parent, 2 for another and 1 for heterozygote. BI_

[2016-04-23 10:29] hdbeukel commented on #21
Yes there are only three formats. The one with allele names/ids is already collapsed into a single format where the number of columns per marker is automatically inferred from the column names.

I like the suggestion to call the allele name/id format STANDARD (or maybe DEFAULT?). We can then also effectively treat it as the default format. Now frequency format is default but since it is more elabo

[2016-04-23 10:33] daveneti commented on #21
I agree DEFAULT is ok

FREQUENCY I can live with,

BIALLELIC I don’t like too much, it is really BIPARENTAL. You need to know the parental line allele calls to use this format. You could still have a data with only two alleles but if it is not from a bi-parental population then it is not really correct to use format.

Guy

[2016-04-23 10:38] hdbeukel commented on #21
What if we just call that format SNP? Or are there other marker types for which it would be used?
Else I will trust you on BIPARENTAL. I don't really get the difference but perhaps you can explain when we meet.

What do you prefer: SNP or BIPARENTAL?

[2016-04-23 10:57] daveneti commented on #21
SNP is more a type of marker system. You can use SNP to get 0,1,2 data, but also SNP can used to get the other two formats. Conversely, you could use other marker systems e.g. SSR to get 0,1,2 data if you have a bi-parental cross.

I prefer BIPARENTAL for the 0,1,2 format. I will run it past someone from work to double check, but it is my understanding that you can not use the 0,1,2 format with an

[2016-04-27 15:53] hdbeukel opened #39 "Add SNP format"
Values are

 - homozygous: A (AA), G (GG), T (TT), C (CC)
 - heterozygous: A/G (AG), A/T (AT), etc.

[2016-04-27 15:54] hdbeukel opened #40 "Update genotype format names"
Formats:

 - DEFAULT (now PHASED)
 - FREQUENCY
 - BIPARENTAL (now BIALLELIC)
 - SNP (new format, see #39)

Also rename `GenotypeVariantData` to `GenotypeData`.

[2016-04-27 15:56] hdbeukel opened #41 "Swap NAME and ID"
Update: ID is first header column (required) and NAME is second and optional. If no name is given the id is used as name as well.

[2016-04-27 15:57] hdbeukel opened #42 "Standardize headers in data formats: distance matrix"
Change distance matrix format so that headers (ID, NAME) are the first columns instead of first rows. Allow to specify IDs on the header row as well (optional). If given, they are checked to see if the order in the columns and rows is the same.

[2016-04-27 15:58] #38 closed

[2016-04-27 15:58] #2 closed

[2016-04-27 15:59] #23 closed

[2016-04-27 15:59] #22 closed

[2016-05-04 10:03] #40 closed

[2016-05-09 07:49] #42 closed

[2016-05-11 11:59] #41 closed

[2016-05-11 12:26] hdbeukel commented on #21
@daveneti I updated the descriptions -- can you verify?

[2016-05-22 18:58] daveneti commented on #33
Completed basic services for all three types. Next step is to implement getMatrixData.

[2016-05-22 19:00] daveneti opened #44 "Update CoreHunter Facade"
Refactor old CoreHunter facade to be a true interface to JAMES, with Emun for objectives etc.

[2016-05-22 19:02] daveneti opened #45 "Update CoreHunter Run Service to use new CoreHunter facade"

[2016-05-22 19:02] daveneti opened #46 "Update GUI to use Dataset Services"

[2016-05-22 19:03] daveneti opened #47 "Update GUI to use CoreHunter Run Services"

[2016-05-28 09:12] daveneti commented on #44
created branch feature/facade

[2016-05-29 19:51] daveneti commented on #44
Added basic facade. @hdbeukel would you like to have a look. I will add more tests etc when I get time.

[2016-06-02 15:00] hdbeukel commented on #44
Looks very good. I have cleaned up some code and added an option to change between parallel tempering (default) and random descent (fast). Also the default stop condition is now dynamic (maximum time without improvement) which I think is better than an absolute runtime limit. See pull request #48.

[2016-06-04 09:01] daveneti commented on #33
created branch git feature/getMatrixData to add new method to services to original data.

[2016-06-08 14:48] #44 closed

[2016-06-08 14:54] hdbeukel opened #49 "More integration tests"
Add more integration tests of the Core Hunter facade. Test with different types of data and objectives including multi-objective.

[2016-06-09 15:50] hdbeukel opened #50 "Try to reduce size of JAR for inclusion in R package"
Can we use the Maven Shade plugin for this?
http://maven.apache.org/plugins/maven-shade-plugin/
It has an option `minimizeJar`.

[2016-06-10 09:26] hdbeukel commented on #50
Reduced size from over 5 MB to below 1 MB.

[2016-06-10 09:26] #50 closed

[2016-06-10 14:12] hdbeukel opened #51 "Treat ordinals more appropriately in Gower distance"
Currently ordinals are treated as interval variables. They should actually be transformed to their corresponding position indices (absolute difference has no meaning) with those indices treated as interval variables. If all data types are `Comparable` we could assume natural order.

[2016-06-10 14:23] hdbeukel commented on #51
We also need to assume then that al values occur.

[2016-06-13 13:21] #51 closed

[2016-06-17 18:54] daveneti commented on #45
Now uses new facade

[2016-06-17 18:54] #45 closed

[2016-06-17 18:55] daveneti commented on #33
Implemented getMatrix, should now be enough to complete the GUI.

[2016-06-17 18:55] #33 closed

[2016-06-17 18:57] daveneti commented on #21
@hdbeukel I believe this issue is now fixed?

[2016-06-17 19:06] daveneti commented on #46
created release/gui-develop branch in which to develop the gui against

[2016-06-17 20:14] hdbeukel commented on #21
Yes this issue is fixed. I'll close it.

[2016-06-17 20:14] #21 closed

[2016-06-17 20:25] hdbeukel opened #53 "Fix coverage reports"
It ssems that the fix in c7b1ea53758291c896523d6909319543b043b91a broke the test coverage reports. Coverage suddenly dropped from 72% to 13% which makes me suspect that the report is broken.

@daveneti Did you notice anything weird with the build?

[2016-06-17 20:34] hdbeukel commented on #53
The 13% is the part covered by the integration tests only. Unit test coverage is not reported anymore.

[2016-06-17 20:46] hdbeukel commented on #53
I got it working again.

[2016-06-17 20:46] #53 closed

[2016-06-18 14:35] daveneti commented on #53
No I did not see anything in the build :(
At the moment I am stuck on a dependency change that occurred in our recent updates that now stops the RCP GUI for working. I am going to look at old version of CH to find the last one that works.

[2016-06-18 15:13] daveneti opened #54 "Problem with OSGi v Maven dependencies"
@hdbeukel I had an error due a Problem with OSGi v Maven dependencies. OSGi was importing via packages using the bundles created by the p2 maven plugin, using the Maven dependencies. The problem was that the package 'uno.informatics.data' was present in both the api and the impl maven modules. OSGi then tried to import both and a conflict was caused.

[2016-06-18 15:16] daveneti commented on #54
I fixed it by removing the uno.informatics.data package in uno informatics data impl. I will make a new 1.0.4 release and change the dependency in CH.

[2016-06-18 15:39] daveneti commented on #54
released to 1.0.4

[2016-06-18 15:39] #54 closed

[2016-06-19 19:30] daveneti opened #55 "Create a prototype GUI installer for testing"
@hdbeukel I think you have a mac, so I will only create a mac version at first for testing. Windows and Linux versions can wait until everything is working ok.

[2016-06-28 07:50] hdbeukel opened #57 "Consistent default objectives"
I already built in default objectives in the R package and they are not the same as those recently added to the API in the Java lib (see bb0ac38be423bc1cf654c43942d2001b215a8782, 01b8289ddaf9491d4b71660d6fd0f956324167e0 and b6aa10dc9e9c6e89c7135ff00e12c2d1ab7f4503). I suggest the following defaults (in this order):

1. E-NE with Modified Roger's distance (genotypes)
2. E-NE with Gower's distance (

[2016-06-28 14:43] hdbeukel opened #58 "Missing value index"
Perhaps we should not precompute the index `boolean[][] hasMissingValues` in `SimpleGenotypeData` but compute on demand. Only the MR and CE distance measures benefit from this index so I guess the additional storage not may not be warranted.

[2016-06-29 12:03] hdbeukel opened #59 "Allow to suffix marker names also in frequency format"
In the default format we allow names such as `M1-1` and `M1-2` for columns corresponding to the same marker `M1`. For consistency, we should also allow to suffix marker names in the frequency format.

[2016-06-29 14:49] #59 closed

[2016-06-29 14:58] #58 closed

[2016-06-30 13:30] hdbeukel opened #60 "Increase unit test coverage"
We should increase the test coverage to at least 90%, preferably higher (95% or more). Especially the service module has low coverage for the moment as well as the API used by the R interface. The latter is indirectly already verified however through the tests in the R package.

[2016-06-30 14:47] hdbeukel commented on #57
@daveneti Do you plan to enable just one objective by default in the GUI or one per data type (genotypes/phenotypes/distances) as part of a weighted index? Whatever we prefer, we should make sure it the GUI and R interface do the same.

[2016-07-01 12:40] #18 closed

[2016-07-01 16:57] daveneti commented on #57
I have added a methods in API on the release\gui-dev branch that provide the default objectives. These are just guesses that the monent. I will align with you decision when i merge back to develop

[2016-07-01 17:30] hdbeukel commented on #57
Ok I have currently implemented the defaults from above, in that order of preference when multiple types of data are included. I guess it is better though to default to a weighted index in the latter case (with equal weights) so I will change that.

[2016-07-02 08:48] daveneti commented on #57
Hi @hdbeukel, where did you change the defaults? I did not see the changes. In the GUI I use the
`public static final List<CoreHunterObjective> createDefaultObjectives(CoreHunterData coreHunterData)` method to create the default objectives. This creates one default objective for each available type of data. At the moment I am not sure what to do about the weights. I think it does not matter if the

[2016-07-02 14:09] hdbeukel commented on #57
I implemented those in the R package which does not (yet) use the new API methods that you added for creating default objectives. I will align both interfaces soon. You are right that the weights do not need to sum to 1. I am ok with your suggestion of summing to 100 in the GUI.

[2016-07-03 10:29] daveneti commented on #57
Thanks, my current plan is to keep working on the gui release branch to make minor adaptations needed for the gui, merge this into develop on a regular basis and merge in any of your changes from develop.

[2016-07-05 16:15] hdbeukel commented on #57
I pulled in your changes to my branch and updated the default objectives. The tests are now running and then I will merge my branch into develop.

[2016-07-05 16:15] #57 closed

[2016-07-28 14:17] hdbeukel opened #64 "Fine tune normalization"

[2016-07-29 13:55] #64 closed

[2016-10-03 12:14] hdbeukel opened #69 "Verbose option for getNormalizationRanges"

[2016-11-26 02:39] daveneti commented on #47
Added support for saving results

[2016-11-29 08:19] hdbeukel opened #72 "Optimize simple data implementations to reduce memory footprint"
It may be useful to provide low memory data implementations to deal with very large datasets. For example we could

- [x] Use primitive type matrices with reserved values for missing data (e.g. `-128` for allele score and `NaN` for distances and frequencies).
- [x] Not precompute and store the frequencies in `BiAllelicGenotypeData`, but recompute from allele scores on demand (may increase runtime)

[2016-11-29 08:22] daveneti commented on #72
This was one of the motivations of 'extended' module. Have there been any reason for needing these implementations?

[2016-11-29 09:17] hdbeukel commented on #72
I was contacted by a researcher from CIMMYT who is dealing with a 10.000 x 55.500 marker dataset and they were running into memory issues. I explained how to increase the amount of memory reserved for Java, i.e. with
[code]
which should work for them (they have 16GB RAM), so this is not an urgent issue. Still, it would make things easier and allow users having less memory available to analyze larg

[2016-11-29 09:18] hdbeukel commented on #72
I also suggested to precompute a distance matrix if they do not want to maximize allelic richness.

[2016-11-29 09:21] hdbeukel commented on #72
Btw, I guess that especially precomputing the frequencies for bi-allelic data may be a waste of memory. The allele scores require only 4 bytes (integer) per data point, while the two inferred frequencies (one for each allele) together require 16 bytes (two doubles). Going from 4 to 20 bytes seems a lot, no? Perhaps it is better then to recompute frequencies from the allele scores and accept a slig

[2016-11-29 18:32] daveneti commented on #72
Ok, thanks. Can you tell me who at CIMMYT? Send me a mail if you like.

On 29 November 2016 at 22:18, Herman De Beukelaer <notifications@github.com>
wrote:

[2016-11-29 18:56] guypfr commented on #72
BTW was this using version 2 or 3?

[2016-12-04 03:45] daveneti opened #73 "Support for fixed entries in a subset"
A common requirement is to fix some entries in a subset, to ensure that certain entries are always selected, regardless of the evaluation.

[2016-12-04 03:46] daveneti commented on #73
@hdbeukel is there support for this in JAMES? I have not yet found it. I will look into this once I have completed the GUI.

[2016-12-04 09:50] hdbeukel commented on #73
Yes, there is. In the subset neighbourhoods you can specify a set of fixed IDs at construction. These are not modified by any generated move, i.e. if they are currently selected they are not removed, and if they are currently not selected they are not added.

If you want to always select some items, you must make sure though that they are selected in the initial random solution. For now you would

[2016-12-05 13:54] hdbeukel opened #74 "FAQ Section"
Add FAQ section on website.

1. Explain how to increase the memory reserved for JVM through rJava.
2. Suggest to precompute distance matrix for datasets with a very large number of markers.

[2016-12-05 18:47] daveneti commented on #73
There is no rush on my side, I need to complete the GUI first before starting anything new.

[2016-12-17 05:53] daveneti opened #75 "unit tests for API"
@hdbeukel I don't see any unit tests for the API class, is this correct or am I missing something. I am going to add unit test for the methods I created in API. I will look at yours given time.

[2016-12-17 08:11] hdbeukel commented on #75
You are right, I don’t believe the API is tested at the Java side. Of course the R package uses the API and is fully tested but it might be interesting to add Java tests as well.

[2016-12-17 08:13] daveneti commented on #75
ok, I have found and fixed the bug that caused me to look for the API . I will merge this to develop branch now, but I have not added all the unit tests yet.

[2016-12-26 06:03] daveneti commented on #55
moved to corehunter3-ui

[2016-12-26 06:03] #55 closed

[2016-12-26 06:05] daveneti commented on #47
Prototype is working see https://github.com/corehunter/corehunter3-ui

[2016-12-26 06:05] #47 closed

[2016-12-26 06:07] daveneti commented on #46
Prototype is working, need to merge release/gui-develop into develop, ready for 3.1 release.

[2016-12-26 06:08] #46 closed

[2017-01-09 13:51] #74 closed

[2017-01-09 16:35] hdbeukel opened #78 "Unquote ids, names and string encoded variable values in phenotype data"
I noticed that ids and names are not yet unquoted when reading phenotype data from a file. I guess this is an issue in `informatics-commons`? This should be fixed to bring all data types in line.

All values of string encoded variables should be unquoted as well.

**Note:** both single and double quotes should be removed.

[2017-01-09 16:54] hdbeukel commented on #78
@daveneti do you prefer me to fix this?

[2017-01-10 05:15] daveneti commented on #78
I can't remember the status of this. I will check tonight. I need to make a new release of commons in any case.

[2017-01-12 09:46] daveneti commented on #78
Ok, version 1.2.0 now supports quotes, anything within a quote is taken 'as is' including delimiters. The quotes are also removed. Next step is to change make changes in corehunter3 in fearture/ignoreQuotes branch. I will do that tomorrow.

[2017-01-12 16:53] hdbeukel commented on #78
Great! If you need any help with updated the read methods of the genotype and distance data let me know. I did the unquoting manually there until now so this could should be removed when using the unquoting option of `TextFileRowReader`.

Remember that the read method for phenotype data is in in the `ArrayFeatureData` class of informatics-common. As far as I can see this one has not been updated y

[2017-01-12 16:58] hdbeukel opened #79 "Separate class for default genotype data"
Having a separate class for the default format that extends the frequency format would e.g. allow to write data (full or subset) to its original format (cfr. biallelic data). Now the default genotype data can only be written to frequency format since it is converted and the original data is not stored.

[2017-01-13 06:23] daveneti commented on #78
@hdbeukel I have adapted informatics.common  and release version 1.2.1. I also removed the unquoting, but 3 tests fail. Can you have a look please I do not understand the code. Please note there is no need to add additional cells then the row are uneven, you can use the TextFileRowReader.ROWS_SAME_SIZE option

[2017-01-13 19:36] hdbeukel commented on #78
I will have a look. Considering the `ROWS_SAME_SIZE` option: how does it know then how many columns there are? For example one of the supported distance matrix formats only includes the lower diagonal part, like
[code]
How do I tell the reader in advance that there are three four columns here?

[2017-01-13 19:50] hdbeukel commented on #78
Looking at your code I understand that `ROWS_SAME_SIZE` expects all lines having the same number of columns as the first one, correct? In that case this only works when column headers are mandatory which is not the case for the distance data or biallelic genotype data. So I guess I cannot use it there. I'll see whether I can use this option to simplify the read methods of the default and frequency

[2017-01-13 19:51] daveneti commented on #78
Yep, that is the worse case scenario. At the moment it just checks the first row. I think your code, although may be more inefficient for large dataset is better. I would like to move it to commons, but it was too late last time for me to understand it. If we are not in a rush to change corehunter for the 3.1 release, I would prefer to take some time on this branch re-vamp informatics-common and t

[2017-01-13 19:54] hdbeukel commented on #78
Allright. I will leave my code that extends the rows untouched then for now. Let me see why the tests fail now and try to fix that. When CH 3.1 has been released I will then also release an update for the R package that handles the unquoting well.

[2017-01-13 19:54] daveneti commented on #78
Our comments crossed in the internet. I think it is better to look at updating informatics-commons for what we need in corehunter3. So I suggest not spending any time on this at the moment. Is there a rush? Also we need to look at quoting (or eacaping) again when there is a delimiter in the text.

[2017-01-13 19:56] daveneti commented on #78
Sounds like a plan. I will leave this branch open for the 3.2 development, that will use the re-vamped informatics-common code.

[2017-01-13 19:56] hdbeukel commented on #78
Great.

[2017-01-13 20:32] hdbeukel commented on #78
The failing tests are related to the unquoting. Two things I noticed:

1. Single quotes are not always removed.
2. Non-existing columns are inserted in case of quoted string with whitespace around it.

Many of the test files did not have quotes so I added some more quotes to get a better view of what is going on. Can you pinpoint the issue in informatics-common?

[2017-01-13 20:35] daveneti commented on #78
No problem, I will add more tests to informatics-common to pick up the issue. I did have single quote tests, but looks like not enough. I will park this for a 3.2 release.

[2017-01-13 20:36] hdbeukel commented on #78
Btw many more tests fail now when adding more quotes.

Example of issue 1: see `biallelic_genotypes/ids-and-names.csv`.
Here the single quotes around `'Alice'` (name) are not removed.

Example of issue 2: see `homozygous_genotypes/ids.csv`.
Here there is an additional column (with value `null`) inserted after `"Eve"` on the last row.

[2017-01-13 20:39] hdbeukel commented on #78
I would prefer to fix the unquoting issues right away so that I can also update the R package. Would it be much trouble?

[2017-01-13 20:41] daveneti commented on #78
I just have this outstanding deployment bug with corehunter3-ui I want to finally get fixed, so I can do automatic deployments to S3

[2017-01-13 20:46] hdbeukel commented on #78
Could you fix that first, then look at the unquoting, then release 3.1?

[2017-01-13 23:19] daveneti commented on #78
Yes, that is the plan.

[2017-01-15 10:57] daveneti commented on #78
Nearly there, only 3 fails yet to find a solution for.

[2017-01-15 19:37] daveneti commented on #78
@hdbeukel can you please look at the last 3 fails. All three are with erroneous files, which are all now passing, whereas before they would fail. You will need to install locally version 1.3.0-SNAPSHOT of informatics-common, which is currently on develop. I will not release this until corehunter is fixed on feature/ignoreQuotes. If you don't time, that is ok, I will look at them again as soon as I

[2017-01-15 21:24] hdbeukel commented on #78
I will have a look.

[2017-01-16 06:22] hdbeukel commented on #78
For the frequency format, the previously erroneous files that got through are now ok due to your changes to the `ROWS_SAME_SIZE` option. I removed these files from the checks. We have to re-evaluate them later though as the behaviour of this option is going to be further changed in the future (infer number of columns from longest instead of first line).

The remaining fails seems to be due to the

[2017-01-17 01:18] hdbeukel commented on #73
I got multiple request for this feature when presenting Core Hunter at the PAG conference just now, so it should be one of the first new features we add. It is not much work.

[2017-01-17 01:26] hdbeukel commented on #72
I got a lot of question when presenting our poster at PAG about the size of the datasets that can be analyzed. All datasets in the paper are small and we actually have no idea about the limits, do we? I suggest we make the `SimpleBiallelicGenotypeData` more memory efficient as explained above and  experiment with large SNP datasets (random if need be) to assess the memory limits.

I had people tal

[2017-01-17 02:04] hdbeukel commented on #72
We could also use the `byte` type to store the 0/1/2 allele scores instead of `int`. That would decrease the memory with a factor of 4.

[2017-01-17 05:49] daveneti commented on #72
You are right is was never tested for large datasets. The extended module (never used) was the place we considered for optimised data structures. I had plans for an HDF (or similar implementation). Time to resurrect these plans.

[2017-01-17 05:54] daveneti commented on #78
Thanks, I will look at it tonight. I propose not change the ROWS_SAME_SIZE option but adding another option of inferring from the longest line instead, since this new option would result in all data being read, which may not be needed in all cases.

[2017-01-17 06:08] hdbeukel commented on #72
Ok so advanced implementations like HDF could go in the extended module but shouldn't we optimize the simple implementation as much as possible as well? I don't see the point in using `Integer` objects when we can reduce the memory usage with a factor 10 by just using `byte` types.

[2017-01-17 06:12] hdbeukel commented on #78
Ok I agree with the `ROWS_SAME_SIZE` option. I suggest having two options like `ROWS_SAME_SIZE_AS_FIRST` and `ROWS_SAME_SIZE_AS_LONGEST` then.

[2017-01-17 06:19] daveneti commented on #78
That is the plan, I like your names.

[2017-01-17 08:43] daveneti commented on #78
fixed and merged into develop

[2017-01-17 08:43] #78 closed

[2017-01-17 21:57] hdbeukel commented on #72
So what do we conclude now? I suggest:

1. Optimize the current implementations while sticking to the simple data structures (version 3.2).
2. Explore more advanced data structures in the extended module (later).

On the way we can experiment with large random SNP datasets of various sizes to see how far we can go and how much we gain from the optimizations or complex data structures. If you agree

[2017-01-18 01:18] hdbeukel commented on #72
To convince you that the current implementations are really wasting a lot of memory without any need, I did a quick estimation of the number of bytes used per data point in the biparental format. The allele score takes at least 12 bytes (8 for object housekeeping, 4 for integer value) and the inferred frequencies of the two alleles each require at least 16 bytes (8 for housekeeping, 8 for double v

[2017-01-18 01:29] daveneti commented on #72
Hi Herman, I did not need any convincing. These simple implementations were only short term solutions in any case.

[2017-01-18 03:48] hdbeukel commented on #72
Ok great. I would like to have a look at the first step (optimizing the current implementations) and later we can discuss ideas for advanced data structures.

[2017-01-18 03:51] hdbeukel opened #82 "Advanced data structures for very large datasets"
Let's discuss our ideas here for advanced datasets that allow to deal with very large datasets.

One option that came into my mind for 0/1/2 data would be to use two bitvectors (`BitSet` in Java) per individual. That could yield approximately a 4-fold reduction in memory usage as compared to using a full `byte` per value.

[2017-01-18 04:04] hdbeukel opened #83 "Reduce memory footprint of distance cache"
Cache previously computed distances in a `double` matrix instead of `Double` matrix. E.g. use `Double.NaN` to indicate missing values in the cache (instead of `null`).

Implemented in `AbstractDistanceMeasure`.

Related to issue #72.

[2017-01-26 20:00] hdbeukel commented on #73
Got a request for this again in the user group. See https://groups.google.com/forum/#!topic/corehunter-users/BSwFBXs5vCs.

[2017-02-20 14:09] hdbeukel opened #85 "Fix sum to one check in simple genotype data"
- [x] Line 193: take into account possible small deviation above 1.0 (see `SUM_TO_ONE_PRECISION`)
- [x] Allow larger deviation? Currently 10^-8, perhaps allow up to 10^-3 in order not to be too strict on the user's data.

[2017-03-18 06:27] daveneti opened #86 "Use unnormalised weights in `API.createDefaultObjectives(CoreHunterData coreHunterData)` method"

[2017-03-19 07:06] #86 closed

[2017-03-22 14:45] hdbeukel opened #89 "Ids or names containing a quote"
I noticed that some datasets have ids or names containing a quote. For example, the coconut data from Odong et. al ([coconut.csv.zip](https://github.com/corehunter/corehunter3/files/861680/coconut.csv.zip)) contains marker ids like `CnCirH4'` and `CnCir F3'`. Since the last update that fixed quoting issues, trying to read such files produces an error like:

[code]

or for a similar file in frequen

[2017-03-22 14:54] hdbeukel commented on #89
Hmm double quoting the names containing single quotes does seem to work after all, I don't know what went wrong when I tried the first time. Can you confirm that this is how it should work?

[2017-03-23 05:24] daveneti commented on #89
double quoting names containing single quotes and vice versa should work. I will add some these to the units tests.

[2017-03-23 06:36] daveneti commented on #89
Adding some until tests finds another problem. The writers do not add quotes when the name or id has quotes. So reading them and writing them will cause problems. This is definitely a bug. I will try to fix it when I have time. I expect it will need to be done in the informatics library.

[2017-04-28 08:30] hdbeukel commented on #73
I also got a request now from IPK Gatersleben for indicating that certain accessions can **not** be selected. At first I thought you would then just reduce the full collection and pretend that the prohibited accessions simply do not exist. But this is only true when maximizing diversity or allelic richness **within** the core. When optimizing representativeness of the full collection (A-NE distanc

[2017-04-28 08:55] #85 closed

[2017-04-28 09:03] hdbeukel opened #90 "Allow to set seed"
See https://github.com/corehunter/corehunter3-r/issues/26.

[2017-04-28 23:52] daveneti commented on #73
Therefore any entry will have one of 4 states:

UNSELECTED
SELECTED
NEVER_SELECTED
ALWAYS_SELECTED

Should we have an enum for this?

[2017-04-29 16:00] hdbeukel commented on #73
Sounds as a good idea.

[2017-05-14 07:30] daveneti commented on #89
new version informatics-common fixed all this issue.

[2017-05-16 04:57] daveneti commented on #73
I happy to work on this now that I have fixed quoting issue, shall I?

[2017-05-16 05:11] hdbeukel commented on #73
Sure, go ahead!

[2017-05-16 06:50] daveneti commented on #79
@hdbeukel the approach I am using is to copy the SimpleGenotypeData class to a new class  SimpleFrequencyGenotypeData. I then removed all the freq related code from SimpleGenotypeData and the non-freq related code from SimpleFrequencyGenotypeData. I removed the read and write method signatures so that they no longer have format as a parameter. I also removed support for writing to frequency for Si

[2017-05-16 07:10] hdbeukel commented on #79
Some thoughts:

- Since `FrequencyGenotypeData` is the most general once, and the other two interfaces extend this one, I would suggest the names `BiAllelicGenotypeData` (as is) and `DefaultGenotypeData` (not just `GenotypeData`). It looks weird if `GenotypeData` extends `FrequencyGenotypeData`.
- I think it may be useful to write default/biallelic data in frequency format. So I would keep this fu

[2017-05-16 08:26] daveneti commented on #79
I won't commit yet because I may revert some of the changes based on your comments above. I will work on this later in the week.

[2017-06-22 09:00] hdbeukel commented on #89
There is an issue with reading data containing quotes in R. See https://github.com/corehunter/corehunter3/pull/92.

[2017-06-22 13:00] #90 closed

[2017-06-23 11:41] hdbeukel commented on #73
Did you start working on this issue yet? If not, I will do so now.

[2017-06-23 15:23] hdbeukel commented on #73
See #94.

[2017-06-23 22:55] daveneti commented on #73
No @hdbeukel, did not get time. Too much work at the moment :(

[2017-06-23 23:00] daveneti commented on #79
@hdbeukel still not completed this, since my last comment. It is unlikely I will work on this until 2nd week in July. I did some test re-factoring, but I will revert these changes and start from scratch. I will assign it to myself. If you pick it up please re-assign it to yourself.

[2017-06-23 23:18] daveneti commented on #89
@hdbeukel is this still an open issue or is it an issue with the R code?

[2017-06-24 07:15] hdbeukel commented on #73
No worries. I implemented this yesterday. Tested in Java, not yet in R.

[2017-06-26 15:22] #89 closed

[2017-06-27 10:46] #73 closed

[2017-06-27 11:40] hdbeukel opened #95 "API: deactivate default time without improvement if total time specified"
Currently it is confusing that a manually specified large runtime might not always be respected due to the default max time without improvement of ten (default mode) or two (fast mode) seconds. Therefore, I suggest to only use the default when no explicit stop conditions are specified.

[2017-06-27 11:48] hdbeukel opened #96 "step-based stop conditions"
Would it be useful to support step-based stop conditions in addition to the current time-based conditions?

One issue I have experienced with the time-based conditions is that they interfere with reproducibility when setting a seed (see #90). Although the seed eliminates randomness in the sequence of search steps, the number of steps may vary across runs, because the time-based conditions are infl

[2017-06-27 13:51] hdbeukel opened #98 "test failure in services"
I got this error once on Travis. Subsequent tests passed without changing anything to the services though. Any idea what might be going on? Is this an issue?

[code]

[2017-06-27 13:53] #95 closed

[2017-06-28 08:41] hdbeukel commented on #79
I have time now so I will have a look.

[2017-06-28 12:11] hdbeukel commented on #79
We discussed before whether to retain the functionality to write biallelic/default data to frequency format. I was planning to keep this, but now that I am separating simple biallelic data from simple frequency data, for memory efficiency (not precomputing and storing all frequencies), I realize it is not straightforward anymore to write biallelic data to frequency format. This would require a ful

[2017-06-29 03:38] daveneti commented on #98
It is weird that it is a NPE and it is intermittent. I will take look at the w/e.

[2017-06-29 03:39] daveneti commented on #96
Yes, it is is a good idea.

[2017-06-29 03:42] daveneti commented on #79
I think it is only important to write to the same format as the data is read. Since the user will want the data exported either with an extra 'selected' column or to subset the data that is selected.

[2017-06-29 08:46] hdbeukel commented on #96
We should think about the most intuitive way for the user to define the number of search steps though, given that "one step" is very different for parallel tempering as compared to random descent. PT executes 500 RD steps within each replica, in a single step of the main search.

Perhaps we should unify/rescale the meaning of "a search step" across both algorithms. This is needed in any case to tr

[2017-06-29 15:23] hdbeukel commented on #79
I have completed the refactoring. Travis build for open source projects are delayed at the moment, so I will wait to merge the pull request until they all checks have completed. Local check run fine though.

For the services module, I resolved all compilation errors, but am not sure whether the new default genotype data class is correctly used there. @daveneti can you check?

[2017-06-30 05:44] daveneti commented on #96
I would go for option number 3.

[2017-08-07 10:05] #79 closed

[2017-08-08 15:13] hdbeukel commented on #72
I optimized the simple data structures. Seems to be a great improvement! I was able to load and analyze datasets with multiple thousands accessions and up to 100k markers.

For those large datasets, it does take quite some time to load the data. I guess rJava has a lot of work there to transfer all the data from R to Java, with the necessary conversions etc. But it works fine! I reserved 8GB RAM f

[2017-08-08 15:13] #72 closed

[2017-08-08 15:13] #83 closed

[2017-08-11 12:59] hdbeukel commented on #96
@daveneti I implemented these step-based stop conditions (see #102) but they are not yet supported by the services. I will update the R package, could you look at the services?

[2017-08-11 14:29] hdbeukel commented on #96
**To do:** think about whether it makes most sense to allow `500 * s` or `10 * 500 * s` steps for RD normalization searches in default mode, since PT executes 500 steps within each of the 10 replicas in each main search step.

[2017-08-16 07:33] hdbeukel commented on #96
I decided to stick with `500 * s` because the fact that PT uses 10 replicas is a property of this advanced algorithm and should not be transferred to the RD's used for normalization.

[2017-08-16 07:33] #96 closed

[2017-10-13 00:53] xiekunwhy commented on #82
Can corehunter deal with large dataset(like WGS snp, 1000samples X 2M snps) efficiently now?

[2017-10-13 21:40] hdbeukel commented on #82
I am not sure. A couple of 100k SNPs should work fine. But 1000 samples x 2M SNPs already requires at least 16 GB of RAM just to load the 0/1/2 allele score matrix in R (which uses 8 bytes per numeric value) and at least about 2 GB more in the Java Core Hunter library (which uses only 1 byte per 0/1/2 value). If you have access to a high-memory machine (I currently do not so I can't test) you migh

[2018-03-06 18:51] daveneti opened #104 "Support distance matrix files with only a column or row header"
Currently only the following is support for distance matrix file formats

ID | A | B
-- | -- | --
A | 0 | 0.5
B | 0.5 | 0

Should also support the following formats

A | 0 | 0.5
-- | -- | --
B | 0.5 | 0

A | B
-- | --
0 | 0.5
0.5 | 0

[2018-03-06 19:48] hdbeukel commented on #104
Actually, we do already support

ID |||
-- | -- | --
A | 0 | 0.5
B | 0.5 | 0

But not without the `ID` header column name. I agree it could be useful to support this, as well as the version with only a header row.

[2018-06-25 10:08] yuntwang opened #105 "Inconsistent results"
Hi,
@hdbeukel
Very good software.

I hava a little confuse about the result of CoreHunter3.
I use the software CoreHunter3 to sample diverse, representative subsets from large germplasm collections and repeat many times.
Poor consistency in multiple results.
why?
Hope to get your reply.
Thanks

[2018-06-26 00:47] daveneti commented on #105
Hi @yuntwang,

I expect that with a large germplasm collections you may have a number of accession with similar phenotypes or/or genotypes? If that is the case CoreHunter may not chose the same similar accession across runs. Increasing the run time, may help. If accessions are identical then CH would not be able to chose between them and would make a random choice each time. Can you pre-filter you

[2018-06-26 08:14] yuntwang commented on #105
I understand,
Thanks.

[2018-12-10 08:24] daveneti opened #106 "Use of NA to indicate missing data"
NA is used to indicate missing data in some programming languages and file formats. It is currently not supported in CoreHunter. NA should be parsed to null by the file readers.

[2019-11-25 09:55] hungweichen0327 opened #107 "I can't successfully use desktop version of corehunter3"
Dear community,

I can't successfully use desktop version of corehunter3.

It said "An error has occurred" after I click the application of corehunter3.

Below is the log file: 1574675381150.log

[1574675381150.log](https://github.com/corehunter/corehunter3/files/3885960/1574675381150.log)

Thank you.

[2019-11-25 18:24] daveneti commented on #107
Hi,

Thanks for the reporting the issue and the log file. I looks like a Java version compatibility issue. I will test on java 12 and see if I can repeat the issue.

[2019-11-26 02:47] hungweichen0327 commented on #107
Thank you for the help. I am looking forward to your test. :)

[2019-11-29 07:24] hungweichen0327 opened #108 "About the always.selected parameter problem"
Dear community,

I use the example data from the corehunter package in R and I tried to use always.selected function. Unfortunately, I failed to select particular IDs I want. Can you help me to fix the problem? Thank you!

The code I ran in R as below:
[code]
After I ran the code:
``core.test <- sampleCore(my.fasta, always.selected = integer(1))``
or
``core.test2 <- sampleCore(my.fasta, always.sel

[2019-12-03 05:40] daveneti commented on #107
I was able to reproduce the bug by installing java v13.

`org.eclipse.e4.core.di.InjectionException: java.lang.NoClassDefFoundError: javax/annotation/PostConstruct
        at org.eclipse.e4.core.internal.di.InjectorImpl.internalMake(InjectorImpl.java:386)
        at org.eclipse.e4.core.internal.di.InjectorImpl.make(InjectorImpl.java:294)
        at org.eclipse.e4.core.contexts.ContextInjectionFact

[2019-12-03 05:47] daveneti commented on #107
It will take me a few days to update, because I have not worked on the UI for sometime. In the short term you can use java version 8 for the UI or the R version.

[2019-12-03 06:39] daveneti commented on #108
I see the issue now. always.selected needs to be a vector. So please try the following if you always want to include the first accession.

`core.test <- sampleCore(my.data, always.selected = c(1))`

For the other fixed indices, simply specify them by index eg.

`core.test <- sampleCore(my.data, always.selected = c(1, 3))`

Please can you confirm this works for you, and I will close the issue?

[2019-12-03 08:02] hungweichen0327 commented on #107
Thank you for the help. I got it!

[2019-12-03 08:02] #107 closed, assigned to nobody

[2019-12-03 08:16] hungweichen0327 commented on #108
Thank you for the reply. Do you mean that I can not use a vector including particular ID for the always.selected parameter? The value that always.selected parameter can detect is only the integer/number, not the character/ID.

[2019-12-03 08:57] daveneti commented on #108
I am not really sure why this does not work

`core.test2 <- sampleCore(my.data, always.selected = c("Bred_0003"))`

[2019-12-03 09:19] hungweichen0327 commented on #108
Dear Dr. Davenport,

The previous code you suggested can run:
[code]

I also don't know why it's doesn't work about this code:
[code]

[2019-12-05 06:58] daveneti commented on #108
I will have a look again at the weekend. Looking at the code it should work.

[2019-12-09 01:32] hungweichen0327 commented on #108
Thank you for the help.

[2019-12-18 02:32] hungweichen0327 opened #109 "samplecore running so long"
Dear community,

I ran sampleCore using distance matrix of 44 accessions and select 12 core accession in R.
However, I ran more than one day and it's still running. Is that normal? Because previously the spending time I ran was less than 5 min in other distance matrix data.

I code I used in R is below:
[code]
The equipment of our computer is below:
[code]

The attachment is the distance matrix da

[2019-12-20 21:05] daveneti commented on #109
Hi @hungweichen0327, thanks for all the info. Usually it takes minutes not days. I will try to reproduce.

[2020-03-18 04:03] hungweichen0327 commented on #109
Dear Dr. @daveneti,

Do you try to reproduce when you are available? Thank you.

[2020-03-18 15:42] daveneti commented on #109
Sorry, for not replying sooner. Yes, I was able to reproduce. I will look deeper into the software, because I have never seen an example of this before.

[2020-04-21 03:45] liufy11 opened #110 "genetics diversity percentage"
Corehunter3 can give me a core sample set, but, How much is the core set account for the total genetic variation?

 for example:
$sel
 [1] $sel
 [1] "1"  "2"  "3"  "10" "17" "18" "19" "22" "24" "26"

$EN
$EN$MR
[1] 0.2178301

I guess "1"  "2"  "3"  "10" "17" "18" "19" "22" "24" "26" is the selected sample ID, but what does  0.2178301 mean ?

[2021-02-23 09:34] yuntwang opened #111 "Shannon’s diversity index (SH)"
Hi,
If my snp is bia-allelic, according to the formula: H=-ΣPilnPi
the range is 0-1.

Why is the value of this software so large, even greater than 1?

Hope to get the reply.
thanks.

[2021-02-24 07:36] daveneti commented on #111
Thanks for your email,

The range can be higher. Please give me some more details so I find out
what the issue is.

Guy

On Tue, 23 Feb 2021 at 10:35 PM, yuntwang <notifications@github.com> wrote:

[2021-02-25 07:55] yuntwang commented on #111
Hi,&nbsp;
In the paper <Core Hunter II: fast core subset selection based on multiple genetic diversity measures using Mixed Replica search&gt;
Found a table:
![image](https://user-images.githubusercontent.com/27258713/109121541-57f41580-7782-11eb-9718-aaf5638d883f.png)

SH is 4.531(4.399)，Why is it greater than 1？

According to the formula, I wrote a script myself, and the calculation result is be

[2022-04-02 03:07] xiekunwhy commented on #111
Hi @daveneti ,

I also want to know why SH >1,
SH = -Σi Pi lnPi or SH = -Σi Pi logPi, where Pi is a proportion (frequencies, probabilities), there for values should be in interval 0 ≤ SH ≤ 1.

But it large than 1 in corehunter papers.

Best,
Kun

[2022-04-02 11:27] hermandebeukelaer commented on #111
Hi @xiekunwhy,

I assume you are referring to one of the first two Core Hunter papers. In CH 1 and CH 2, Shannon's index was not scaled properly. A value between 0 and 1 was computed for each marker separately, based on the allele frequencies of that marker only. Those values were summed across all markers. Hence this could lead to a value (substantially) greater than 1.

In Core Hunter 3 the form

[2022-08-03 11:20] LivGilpin opened #112 "Genotypes Input file error: "Marker matrix should be numeric (0, 1, 2).""
I get error messages that my input file is not numeric?
I have 346 accessions and 13 105 SNPs in my dataframe.
This is the script I used:

[code]

I ran some test to check that the data frame was loaded into R as numeric:
[code]

#Since I still had problems with numeric, I tried to convert to matrix:
[code]
[code]
I tried the as.numeric function, but same error came up...
[code]

[2022-08-03 18:01] hdbeukel commented on #112
Hi @LivGilpin,

Is it possible for you to share (part of) your data file so we can try it out? You can anonymise the data if needed.

[2022-08-04 13:53] LivGilpin commented on #112
Dear Herman,

Thank you for you quick reply! It is very interesting to work with Core Hunter, I think it can become very useful for us.

I was able to find out the error with the input files, they had 3 instead of empty space as indicator of missing values.

However, new questions have arisen:

I am working with the Norwegian Apple Germplasm Collection and I am somewhat uncertain on how to read th

[2022-08-04 17:58] hdbeukel commented on #112
Hi @LivGilpin

The size of the core collection is an input parameter for Core Hunter, you should set the desired core collection size when running `sampleCore`. It defaults to 20% of the full collection which is indeed 69 in your case. Core Hunter will select exactly the specified number of accessions trying to maximise the diversity of the selection of this size.

You can maximise a variety of ge

[2022-08-05 06:42] LivGilpin commented on #112
Thank you! I will test out different obj parameters.

From: Herman De Beukelaer ***@***.***>
Sent: torsdag 4. august 2022 19:59
To: corehunter/corehunter3 ***@***.***>
Cc: Liv Hatleli Gilpin ***@***.***>; Mention ***@***.***>
Subject: Re: [corehunter/corehunter3] Genotypes Input file error: "Marker matrix should be numeric (0, 1, 2)." (Issue #112)

Hi @LivGilpin<https://github.com/LivGilpin>

The

[2022-08-08 13:21] LivGilpin commented on #112
Thank you for your help @hdbeukel.

Is there a way to produce reports for each locus, showing number of alleles, Ne, Ho, He, SI, … etc values per loci?

Liv

[2022-08-09 15:11] hermandebeukelaer commented on #112
Core Hunter can't produce these detailed reports, only aggregates for the selected core collection. I'm sure there are other R packages that can do this for you, but I am not the expert there. Or you can write your own functions.

@daveneti can you share your thoughts on this?

[2022-10-11 07:39] daveneti commented on #112
I would also need to look into it as well. I suggest you have a look at CRAN for some packages for these. There are few different ones, but I do not have a great deal of experience with them.

Guy

On 10 Aug 2022, at 03:11, Herman De Beukelaer ***@***.*** ***@***.***> > wrote:

Core Hunter can't produce these detailed reports, only aggregates for the selected core collection. I'm sure there are ot

[2022-11-09 16:09] Ural-Yunusbaev opened #113 "long vectors not supported yet (matrix with 1000 individuals and 15000 markers)"
Hi

When I tested my command with 100 individuals and 15000 markers it worked perfectly.
When I run the command with 1000 individuals and 15000 markers it gave an error:
CH_genobj = genotypes(data = my.data, format = "biparental")
Error in .jarray(j.matrix, dispatch = TRUE) :
  long vectors not supported yet: Rglue.c:905
Calls: genotypes -> .jarray
Execution halted

Any ideas on how to fix it?

Ur

[2022-11-10 18:29] hermandebeukelaer commented on #113
Seems to be an issue with rJava. The error occurs in one of rJava's source files (`Rglue.c`). I skimmed the latest version of this file at https://github.com/s-u/rJava/blob/master/src/Rglue.c but couldn't find any reference to this error. Perhaps it has changed in new rJava versions. Are you working with an outdated rJava version? Perhaps try updating this library to the latest version (1.0-6).